<nav class="nav" aria-label="Primär">
  <div class="nav__inner">
    <a class="nav__brand" href="/sv/">Johan Lindström</a>
    <ul class="nav__links">
      <li><a class="nav__link" href="/sv/ratt/">RÄTT-modellen</a></li>
      <li><a class="nav__link" href="/sv/guider/">Guider</a></li>
      <li><a class="nav__link" href="/sv/promptar/">Promptar</a></li>
      <li><a class="nav__link" href="/sv/notebooklm-stilar/">NotebookLM-stilar</a></li>
      <li><a class="nav__link" href="/sv/blog/">Blogg</a></li>
      <li><a class="nav__link" href="/sv/om/">Om</a></li>
    </ul>
    <div class="nav__lang">
      <a href="/">EN</a> / <a href="#" aria-current="true">SV</a>
    </div>
  </div>
</nav>
